* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50%;
    height: 50%;
}

.wrapper {
    margin-left: 30px;
    margin-right: 30px;
}

.header_title {
    font-family: Roboto;
    margin: 15px 0px 20px 0px;
    font-size: 50px;
    font-weight: 700;
}

.meme {
    margin-top: 15px;
    margin-bottom: 20px;
}

.meme-item {
    position: relative;
    margin-bottom: 20px;
}

.meme-item__title {
    padding: 20px;
    border: 1px solid black;
    display: block;
    cursor: pointer;
}

.meme-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.meme-item__img {
    display: none;
    margin-bottom: 15px;
    padding: 20px;

}

.meme-input:hover ~ .meme-item__img {
    display: block;
    opacity: 0;
    animation: ani 2.5s forwards;
}

.meme-item__title:hover {
    background-color: black;
    transition: 0.4s ease-in-out;
    color: white;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

