* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin-left: 30px;
    margin-right: 30px;
}

.header_title {
    font-family: Roboto;
    margin: 15px 0px 20px 0px;
    font-size: 50px;
    font-weight: 700;
}

.meme {
    margin-top: 15px;
    margin-bottom: 20px;
    
}

.meme:hover {
    transition: 0.5s ease-out;
}

.meme_item {
    position: relative;
    margin-bottom: 20px;
}

.meme-item__title {
    padding: 20px;
    border: 1px solid black;
    display: block;
}

.meme-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.meme-item__img {
    display: none;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid black;
    border-top: none;
}

.meme-input:checked ~ .meme-item__title {

}

/* .meme-input:checked ~ .meme-item__img {
    display: block;
} */

.meme-input:hover ~ .meme-item__img {
    display: block;
}